<!DOCTYPE html>
<html>
<head>
    <title>Search Jobs</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>
<body>
    <header>
        <h1>Job Extractor</h1>
        <h3>A service to extract jobs through seleted programming language</h3>
    </header>
    <main>
        <form action="/result", method="get">
            <h4>Select the programming languages you're interested on : </h4>
            <ul>
                {% for language in languages %}
                    <li>
                        <input type="checkbox" name="{{language}}" value="on">
                        {{language}}</input>
                    </li>
                {% endfor %}
            </ul>
            <h4>Select the sites you want to search for : </h4>
            <ul>
                {% for site in sites %}
                    <li>
                        <input type="checkbox" name="{{site}}" value="on">
                        {{site}}</input>
                    </li>
                {% endfor %}
            </ul>
            <button type='submit' value='Extract'>Extract</button>
        </form>
    </main>
</body>
</html>